Repository Eptagone/eptagone.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: astro-check, elint

astro-check:
  run: pnpm dlx astro check

elint:
  run: pnpm dlx eslint src

chore: bump dependencies
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: remove file extension from canonical url chore: bump dependencies
  astro.config.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: astro-check, elint

chore: bump dependencies chore: add gtm
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
Due: astro-check

chore: update github actions
  .github/workflows/deploy.yml
Due: none

Path conditions:
  astro-check: any of: *.{ts,tsx,astro,css}
  elint: any of: *.{ts,tsx}
